<title>Big Album Art for Spotify</title>
<a href="/">back to live view</a>
<a href="{{other_url}}">chronological view</a>

Total count: {{count}}

<h1>Albums</h1>
{% with albums = albums %}
{% include "_album_block.html" %}
{% endwith %}

<h1>Singles</h1>
{% with albums = singles %}
{% include "_album_block.html" %}
{% endwith %}

<h1>Compilations</h1>
{% with albums = compilations %}
{% include "_album_block.html" %}
{% endwith %}

<h1>Other</h1>
{% with albums = other %}
{% include "_album_block.html" %}
{% endwith %}
