<title>Big Album Art for Spotify</title>
<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />

<style>
  body {
    background: black;
  }
  .about-container {
    margin: auto 0px;
  }
</style>

<div class="about-container">
  <h1>Big Album Art for Spotify</h1>
  <p>Do you love album art, and are unsatisfied with how tiny it is on your Spotify app or desktop client? Log in below, to see the album art of your currently playing Spotify song.</p>
  <button href="{{spotify_link}}">Login with Spotify</button>
</div>
